#!/bin/sh
#PBS -N test
#PBS -u change_username
#PBS -r n
#PBS -j oe
#PBS -m be
#PBS -M change_email
#PBS -V
#PBS -l nodes=1:ppn=9
#PBS -l walltime=24:00:00
#PBS -q batch
##########################################################

cd $PBS_O_WORKDIR

cp ~/IMHD/Compile/imhd ./

mpirun -hostfile $PBS_NODEFILE -np 68 ./imhd config.cfg

